[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.7'

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
flask-injector = "*"
flask-restful = "*"
pycryptopro = {git = 'https://github.com/alexbuyanow/PyCryptoPro.git',ref = 'master'}

[dev-packages]
flake8 = '*'
pylint = '*'
pytest = '*'
pytest-flask = '*'
v = {editable = true,version = "*"}
